{% extends 'base.html.twig' %}

{% block title %}Adoptoutou - Donations{% endblock %}

{% block body %}


{% for donation in donations %}

<h2> Donateur : {{ donation.user }} </h2>

<p> Montant : {{ donation.amount }}€ </p>
<p> Date : {{ donation.date|date('d-m-Y H:i:s') }} </p>

<hr>

{% endfor %}

<button><a href="{{ path('donation_create') }}" class="donate">Faire un don</a></button>

<h3> Total des dons : {{ total }}€ </h3>

</div>
{% endblock %}
