{% extends 'base.html.twig' %}

{% block title %}Adoptoutou - Animaux {% endblock %}

{% block body %}


{% for pet in pets %}

<h2> Nom : {{ pet.name }} </h2>

<p> Id : {{ pet.id }} </p>
<p> Type : {{ pet.type }} </p>
<p> Race : {{ pet.race }} </p>
<p> Adopté :
{% if (pet.state == 1) %}
    Oui
{% else %}  
    Non
{% endif %} 
</p>
<p><img class="pet-img" src="{{ pet.urlImg }}" alt="Image Pet" style="width:250px ; height:150px;"></p>

<a href="{{path('pets_id',{'id':pet.id})}}" name="btn_adopt"> <button>Détail</button></a>

<hr>
{% endfor %}
</div>

{% endblock %}
