{% extends 'base.html.twig' %}

{% block title %}Adoptoutou - Produits{% endblock %}

{% block body %}


{% for product in products %}

<h5> Nom : {{ product.name }} </h5>

<p> Description : {{ product.description }} </p>
<p> Prix : {{ product.price }}€ </p>
<p> Type de produit : {{ product.type }} </p>
<p> Stock : {{ product.stock }} </p>
<p><img class="pet-img" src="{{ product.urlImg }}" alt="Image Pet" style="width:250px ; height:150px;"></p>

<hr>

{% endfor %}
</div>
{% endblock %}
